<div class=  "container">
  <%= render "layouts/parcials/navbar" %>
</div>
<%= render "layouts/parcials/banner" %>
<div>
  <div class= "cards container my-5">
    <% @lists.each do |list| %>
      <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1598814996357-799cbb953998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
        <%= link_to list.name, list_path(list) %>
        <div class ="delete-link">
          <%= link_to "Delete", list_path(list), method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
