<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1595769816263-9b910be24d5f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2079&q=80);">
  <div class="container">
    <h1>Welcome to <strong>LISTOVIES</strong> where <strong>all your lists can come true</strong>!</h1>
    <p>Lists + Movies = LISTOVIES</p>
    <%= link_to "Create a Listovie", new_list_path, class: "btn-flat" %>
  </div>
</div>