.card-category-index {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  
  a {
    text-decoration: none;
    color: whitesmoke;
  }

  a:hover {
    text-decoration: none;
    color: rgb(180, 178, 178);
    }
}

.delete-button {
  text-decoration: none;
  color: whitesmoke;
}

.delete-button:hover {
text-decoration: none;
color: rgb(180, 178, 178);
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
  a {
    text-decoration: none;
    color: whitesmoke;
  }

  a:hover {
    text-decoration: none;
    color: rgb(180, 178, 178);
    }
}

.delete-link {
  a{
    color: whitesmoke;
    text-decoration: none;
  }
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.delete-link:hover {
  background-color: rgb(19, 10, 10);
}